.flipWordsContainer {
  display: inline-block;
  overflow: hidden;
  vertical-align: baseline;
  line-height: inherit;
  position: relative;
  top: 11.2PX;
}

/* Mobile - move up by 5px */
@media (max-width: 767px) {
  .flipWordsContainer {
    top: 10px;
  }
}

.wordContainer {
  display: inline-block;
  white-space: nowrap;
  line-height: inherit;
}

.letter {
  display: inline-block;
}

